<h1>投稿を編集する</h1>
 <hr>
 <%= form_for @post do |f| %>
  <p>内容</p>
  <%= f.text_area :content, class: "form-control" %>
  <p>場所</p>
  <%= f.text_field :place, class: "form-control"  %>
  <hr>
  <%= f.submit "変更する", class: "btn btn-primary" %>
 <% end %>
 <hr>
 <%= link_to("投稿に戻る", "/posts/#{@post.id}", class: "btn btn-info") %>